body div.mxPopupMenu {
    -webkit-box-shadow: 3px 3px 6px #C0C0C0;
    -moz-box-shadow: 3px 3px 6px #C0C0C0;
    box-shadow: 3px 3px 6px #C0C0C0;
    background: white;
    position: absolute;
    border: 3px solid #e7e7e7;
    padding: 3px;
}

body table.mxPopupMenu {
    border-collapse: collapse;
    margin: 0px;
}

body tr.mxPopupMenuItem {
    color: black;
    cursor: default;
}

body td.mxPopupMenuItem {
    padding: 6px 60px 6px 30px;
    font-family: Arial;
    font-size: 10pt;
}

body td.mxPopupMenuIcon {
    background-color: white;
    padding: 0px;
}

body tr.mxPopupMenuItemHover {
    background-color: #eeeeee;
    color: black;
}

table.mxPopupMenu hr {
    border-top: solid 1px #cccccc;
}

table.mxPopupMenu tr {
    font-size: 4pt;
}
